# ignore everything in the root except the "wp-content" directory.
Apex-Imobi.xlsx

# ignore node dependency directories
wordpress/wp-content/themes/showa/node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite