/* Owl carousel
----------------------------------------------------------------------------- */
.owl-theme .owl-dots .owl-dot span {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #CFCFCF;
  border: 1px solid #fff;
}

.owl-theme .owl-dots .owl-dot.active span {
  background: $green-100;
}


/* Content Main
----------------------------------------------------------------------------- */
.site-main {
  padding-top: 97px;
  position: relative;
  @include clearfix();

  // Responsive
  @media (max-width: 768px) {
    overflow: hidden;
    padding-top: 68px;
  }
}
