// Colors site
$white:           #fff !default;
$black:           #000 !default;

$yellow-base:     #FAB937;
$yellow-medium:   #D4A849;
$rosa-base:       #E8436D;
$gray-base:       #969696;

$green-100:      #548963;
$green-200:      #1D5849;
$blue-300:       #312F4F;